<!DOCTYPE html>
<html>
<head>
  <title> *app_name* </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

  <STYLE TYPE="text/css" MEDIA=screen>
    body    { border: 20px solid grey }
    h4       { text-align: center}
    bus_stop_no {align-items: center}

  </STYLE>
</head>
<body bgcolor="#B0C4DE">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="container center">

    <div class="row center">
<h1 class="center"> <b>  The Bus App </b>  </h1>

<div class="center">
    <form class="col s12">
      <div class="center">

        <form><h4 class="center"><u>   Bus Stop Number: </u> </h4>
          <input id="bus_stop_no" type="text" maxlength="7" class=" center" placeholder="Bus Stop Number" >
          <a class="btn waves-effect waves-light" onClick="javascript: location.replace('https://qwiklabs-gcp-cc134da2983f59a0.appspot.com/results?stop='+document.getElementById('bus_stop_no').value);">Go!
          </a></form>

      </div>
    </form>
  </div>
</div>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
</html>
