<!DOCTYPE html>
<html>
<head>
  <title> *app_name* </title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
<h1> The Bus App </h1>

<div class="row">
    <form class="col s12">
      <center>
      <div class="row1">
        <div class="input-field col s6">
          <label for="first_name"  id="bus_stop_no">Bus Stop Number: </label>
          <input placeholder="Number" id="bus_stop_no" type="text" class="validate">
          <br>
          <br>
          <button class="btn waves-effect waves-light" type="submit" name="action" id="button" >Go!
            <i class="material-icons right"></i>
          </button>
        </div>
      </div>
      </center>
    </form>
  </div>

</body>
</html>
